*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.postimg.cc/cJX3yHRh/96959-v6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 150vh;
}

/*
==================
Estilos globais
==================
*/

h1{
    font-size: 2rem;
    margin: 2rem 1rem;
}

h2{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3{
    font-size: 1rem;
    /* margin-bottom: 0.5rem; */
}

h1, h2, h3{
    text-align: center;
    color: rgb(12, 69, 155);

}

/*
================
Corpo do formulário
================
*/

.form{
    background-color: rgb(165, 195, 233);
    /* color: rgb(12, 69, 155); */
    font-weight: 500;
    width: 20vw;
    height: 100vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 1px rgb(0, 0, 0);
    border-radius: 1rem;
    margin: 2rem 0;
    /* overflow: hidden; */
}

label{
    font-weight: 700;
}

.nome-hotel-input{
    width: 200px;
    border-radius: 2rem;
}


/*
================
formulário
================
*/

@media screen and (max-width:678px){
    .form{
      width: 80vw;
      height: 140vh;
    }

    h1{
      font-size: 1.3rem;
    }

    h2{
      font-size: 1.2rem;
    }

    h3{
      font-size: 1rem;
    }
}

/* @media screen and (min-width:678px) {
    .form{
        width: 50vw;
        height: 90vh;
    }
} */

/*
=======================
Conteúdo do formulário
=======================
*/

.bloco-nome-hotel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.3rem;
    margin: 10px;
}


.bloco-localizacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.3rem;
    margin: 10px;
}

.bloco-geral input{
    border-radius: 1rem;
    padding: 0.3rem 0.2rem;
}

.bloco-separado label{
    width: 50px;
    display: inline-block;
    margin: 10px 0;
}

.bloco-separado input{
    width: 150px;
    border-radius: 1rem;
}

.nome-hotel{
    display: grid;
    grid-template-columns: 1fr;
}

.nome-hotel-label, .nome-hotel-input{
   text-align: center;
   margin-bottom: 0.5rem;
}



/*
=======================
Ingressos
=======================
*/

.bloco-ingressos{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloco-ingresso{
    margin: 1rem 0;
}



/*
====================
Comodidades
====================
*/

.checkbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    margin: auto 1rem;
} 

@media screen and (max-width:678px){
    .checkbox{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

/*
=======================
Botão enviar
=======================
*/

a{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(33, 107, 136);
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    transition: .5s;
}

a:hover{
    background-color: #fff;
    color: rgb(33, 107, 136);
}

.caixa textarea{
    text-align: center;
    max-width: 200px;
    max-height: 200px;
}